@page "/"
@inject NavigationManager NavManager

<h1>Redirect Page</h1>

<p>Redirecting to Default Page</p>

@code {

    // Redirect to the register page 
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("/register");
    }
}